<div class="w980">
  <h1>お気に入り一覧</h1>
  <p><%= notice %></p>

  <% if @favorites.present? %>
    <P>お気に入りしているPicture</p>
      <table>
      <% @favorites.each do |favo| %>
      <tr>
        <td><%= favo.picture.user.name %></td>
        <td><%= favo.picture.title %></td>
        <td><%= image_tag favo.picture.image_pict.to_s %></td>
        <td><%= link_to '詳細を見る', picture_path(favo.picture.id) %></td>
      </tr><% end %>
      </table>
  <% else %>
    <P>お気に入りしているPictureはありません</p>
  <% end %>

</div>
