<h1>Picture一覧</h1>
<p><%= notice %></p>
<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
  </tr>

<% @pictures.each do |picture| %>
  <tr>
    <td><%= picture.title %></td>
    <td><%= picture.content %></td>

    <td><%= link_to '詳細を見る', picture_path(picture.id) %></td>
    <td><%= link_to "編集する", edit_picture_path(picture.id) %></td>
  </tr>
<% end %>
</table>
